<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit the User</title>
</head>
<body>
<a th:href="@{/admin/users}">Back to User List</a>
<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="nickName">Nickname</label>
    <input type="text" th:field="*{username}" id="nickName"/>
    <br/>
    <label for="password">Password</label>
    <input type="text" id="password" th:field="*{password}"/>
    <br/>
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <br/>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roleSelect}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Update">
</form>
<div>
    <a th:href="@{/login}">Logout</a>
</div>
</body>
</html>